::selection {
    background-color: #2196f3;
    color: #fff;
  }
  ::-moz-selection {
    background-color: #2196f3;
    color: #fff;
  }
  
  .header-style-2 .navbar-nav > li > a.current,
  .header-pagepiling .pl-navbar li.active a,
  a:hover, 
  a:active,
  .list-style-4 li:before,
  .color-theme {
      color: #2196f3;	
  }
  
  .header-style-5 .navbar-nav > li > a:after,
  .header-style-4 .navbar-nav > li > a:hover,
  .header-style-4 .navbar-nav > li > a.current,
  .header-style-3 .navbar-nav > li > a:hover,
  .header-style-3 .navbar-nav > li > a.current,
  .header-style-2 .navbar-nav > li > a:after,
  .heading-style-5:after,
  .header-pagepiling .navbar-brand,
  .pp-toggle,
  .portfolio-box-01 .filter a,
  .list-style-2 li:before,
  .list-style-3 li:before,
  .bg-theme {
      background: #2196f3;
  }
  
  .heading-style-2:after,
  .heading-style-1:after,
  .list-style-4.list-style-color li {
      border-color: #2196f3;	
  }
  
  .btn.btn-theme {
      background: #2196f3;
      border-color: #2196f3;
      color: #fff;
  }
  
  
  .border-theme { border-color: #2196f3; }
  .border-theme-b { border-bottom-color: #2196f3; }
  .border-theme-t { border-top-color: #2196f3; }
  .border-theme-l { border-left-color: #2196f3; }
  .border-theme-r { border-right-color: #2196f3; }